{{ partial "header.html" . }}

{{if not .IsHome }}
<div class="article-meta">
<h1>{{ .Title | markdownify }}</h1>
<p class="terms">
   {{ range $i := (slice "categories" "tags") }}
   {{ with ($.Param $i) }}
   {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
   {{ end }}
   {{ end }}
</p>
</div>
{{ end }}

{{ $pages := .Pages }}

{{ if .Params.showContentTable }}
<ul>
{{ range (where $pages "Section" "!=" "") }}
  <li><a href="#{{ .Slug }}">{{ .Title }}</a></li>
{{ end }}
</ul>
{{ end }}

{{ .Content }}

{{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}

{{ range (where $pages "Section" "!=" "") }}
{{ $tags := .GetTerms "tags" }}
{{ if .Description }}
    <a name="{{ .Slug }}">
	<h2>
		{{ if not .Date.IsZero }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
		<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
	</h2>
	<div>{{ range $tags }}<span>#{{ .LinkTitle | lower }}</span> {{ end }}</div>
	<div>{{ .Description | markdownify }}</div>
{{ else }}
    <a name="{{ .Slug }}">
	<h2>
		{{ if not .Date.IsZero }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
		<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
	</h2>
	<div>{{ range $tags }}<span>#{{ .Title | lower }}</span> {{ end }}</div>
{{ end }}
{{ end }}

{{ partial "footer.html" . }}
