{{ partial "header.html" . }}

{{if not .IsHome }}
<div class="article-meta">
<h1>{{ .Title | markdownify }}</h1>
<p class="terms">
   {{ range $i := (slice "categories" "tags") }}
   {{ with ($.Param $i) }}
   {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
   {{ end }}
   {{ end }}
</p>
</div>
{{ end }}

{{ .Content }}

<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  {{ $tags := .GetTerms "tags" }}
  <li>
    {{ if .Description }}
			<p>{{ if not .Date.IsZero }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
			<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
			{{ range $tags }}<span>#{{ .LinkTitle | lower }}</span>{{ end }}
			</p>
			<p>{{ .Description | markdownify }}</p>
	{{ else }}
        {{ if not .Date.IsZero }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
		{{ range $tags }}<span>#{{ .Title | lower }}</span> {{ end }}
	{{ end }}
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
