{{ partial "header.html" . }}
<div class="article-meta">
<h1>
    {{ if (gt .Params.date 0) }}<span class="date">{{ .Date.Format "2006/01/02" }} -</span>{{ end }}
	<span class="title">{{ .Title | markdownify }}</span>
</h1>
<p class="terms">
   {{ range $i := (slice "categories" "tags") }}
   {{ with ($.Param $i) }}
   {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
   {{ end }}
   {{ end }}
</p>
</div>

<main>
{{ if .Description }}{{ .Description | markdownify }}{{ end }}
{{ .Content }}
</main>

{{ partial "footer.html" . }}
